/*===============================================
----------------COLORS---------------
#042A5A
#F4C4C4
#282B29
#7D2222
#DEB873
#D2D2D2
#388883

------------------FONTS--------------- 
Open Sans, Athene
===============================================*/

/*=============================================
                  GENERAL
===============================================*/
html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Athene;
    src: url("../fonts/Athene.otf");
}

@font-face {
    font-family: Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/*=============================================
                  HEADER
===============================================*/
body header {
    background-color: rgb(239, 232, 215);
    padding-bottom: 15vh;
}

body header div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
    border-bottom: 1px solid black;
}

body header div p {
    font-size: 1.5rem;
}

body header div:nth-of-type(2) {
    width: 60vw;
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
}

body header div:nth-of-type(2) h1 {
    display: inline;
    font-family: Athene;
    font-weight: lighter;
    font-size: 15rem;
    border-bottom: 1px solid black;
}

body header div:nth-of-type(2) h1:nth-of-type(2) {
    padding-left: 1vw;
}

body header figure {
    width: 20vw;
    margin: 10vh auto;
}

body header figure figcaption {
    text-align: left;
    margin-top: 2vh;
    font-family: Athene;
    font-weight: lighter;
    font-size: 1.7rem;
}

body header figure figcaption span {
    font-family: Open-Sans;
    font-size: 1.5rem;
}

/*=============================================
                  SECTION RELEASE
===============================================*/

#release {
    background-color: #F4C4C4;
    padding-bottom: 10vh;
}

#release p {
    margin: 0;
    padding: 9vh 0 0 5vw;
    font-size: 2rem;
}

#release div {
    padding-top: 9vh;
    width: 35vw;
}

#release div h2 {
    font-family: Athene;
    font-size: 20rem;
    font-weight: lighter;
    margin: 0;
    word-break: break-all;
    width: 70%;
}