/*===============================================
----------------COLORS---------------
#042A5A
#F4C4C4
#282B29
#7D2222
#DEB873
#D2D2D2
#388883

------------------FONTS--------------- 
Open Sans, Athene
===============================================*/

/*=============================================
                  GENERAL
===============================================*/

@font-face {
    font-family: Athene;
    src: url("../fonts/Athene.otf");
}

@font-face {
    font-family: Open-Sans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}


html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    margin: 0;
    padding: 11vh 0 0 5vw;
    font-size: 2rem;
}



/*=============================================
                  HEADER
===============================================*/
body header {
    background-color: rgb(239, 232, 215);
    padding-bottom: 15vh;
}

body header div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
    border-bottom: 1px solid black;
}

body header div p {
    font-size: 1.5rem;
}

body header div:nth-of-type(2) {
    width: 60vw;
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
}

body header div:nth-of-type(2) h1 {
    display: inline;
    font-family: Athene;
    font-weight: lighter;
    font-size: 15rem;
    border-bottom: 1px solid black;
}

body header div:nth-of-type(2) h1:nth-of-type(2) {
    padding-left: 1vw;
}

body header figure {
    width: 20vw;
    margin: 10vh auto;
}

body header figure figcaption {
    text-align: left;
    margin-top: 2vh;
    font-family: Athene;
    font-weight: lighter;
    font-size: 1.7rem;
}

body header figure figcaption span {
    font-family: Open-Sans;
    font-size: 1.5rem;
}

/*=============================================
                  SECTION RELEASE
===============================================*/
/*----------------article 1--------------------*/

#release {
    background-color: #F4C4C4;
    padding-bottom: 10vh;
}

#release .heading {
    padding-top: 9vh;
    width: 37vw;
}

#release article:nth-of-type(1) {
    width: 40vw;
    padding: 0 0 0 55vw;
}

#release article:nth-of-type(1) p {
    margin: 0;
    padding: 9vh 0 0 5vw;
    font-family: Open-Sans;
    font-size: 2rem;
    line-height: 5vh;
    padding: 0;
}

#release div:nth-of-type(1) h2 {
    font-family: Athene;
    font-size: 20rem;
    font-weight: lighter;
    margin: 0;
    word-break: break-all;
    width: 95%;
}



/*-----------------article 2-------------------*/

#release article:nth-of-type(2) {
    padding: 10vh 0 0 53vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#release article:nth-of-type(2) div {
    display: flex;
    align-items: center;
    font-family: Open-Sans;
    border-bottom: 1px solid black;
}

#release article:nth-of-type(2) div:nth-of-type(1) {
    border-top: 1px solid black;
}

#release article:nth-of-type(2) h2 {
    margin: 0;
    font-family: Open-Sans;
}

#release article:nth-of-type(2) div h3 {
    width: 30vw;
    margin: 0;
}

#release article:nth-of-type(2) div p {
    padding: 0 0 0 5vw;
    width: 6vw;
    text-align: right;
    font-size: 1.5rem;
}

#release article:nth-of-type(2) div span {
    font-size: 2rem;
    margin-left: 3vw;
}

#release img {
    width: 6vw;
    height: auto;
    padding: 12vh 0 0 87vw;
}


/*=============================================
                  SECTION WORKS
===============================================*/
/*-----------------article 1-------------------*/

#works {
    background-color: #DEB873;
    width: 100%;
    color: #7D2222;
}

#works .site__left {
    margin: 0;
    font-size: 2rem;
    padding: 11vh 0 0 90vw;
}

#works .heading__right {
    padding: 9vh 0 0 62vw;
    width: 37vw;    
}

#works .heading__right h2 {
    margin: 0;
    font-family: Athene;
    font-size: 20rem;
    font-weight: lighter;
    text-align: right;
    word-break: break-all;
}

#works article:nth-of-type(1) {
    width: 38vw;
    padding: 0 0 0 0;
}

#works article:nth-of-type(1) p {
    margin: 0;
    padding: 2vh 0 0 8vw;
    font-family: Open-Sans;
    font-size: 2rem;
    line-height: 5vh;
}


/*-----------------article 2-------------------*/

/*-----------------pictures 1-------------------*/

#works article:nth-of-type(2) {
    width: 86.5vw;
    height: 60vh;
    background-image: url("../img/bg-marconatto-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 24vh;
}

#works article:nth-of-type(2) p {
    font-family: Athene;
    font-weight: lighter;
    font-size: 8rem;
    word-break: break-word;
    width: 39%;
    padding-top: 2vh;
    padding-left: 7.5vw;
}

/*-----------------pictures 2-------------------*/

#works article:nth-of-type(3) {
    padding-top: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30vh;
}

#works article:nth-of-type(3) p {
    font-family: Athene;
    font-weight: lighter;
    font-size: 8rem;
    word-break: break-word;
    width: 24%;
    text-align: right;
    margin-top: 0;
}

/*-----------------pictures 3-------------------*/

#works article:nth-of-type(4) {
    width: 86.5vw;
    height: 60vh;
    background-image: url("../img/bg-nicole-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20vh;
}

#works article:nth-of-type(4) p {
    font-family: Athene;
    font-weight: lighter;
    font-size: 8rem;
    word-break: break-word;
    width: 39%;
    padding-top: 2vh;
    padding-left: 7.5vw;
}

/*-----------------pictures 4-------------------*/

#works article:nth-of-type(5) {
    padding-top: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40vh;
    margin-bottom: 20vh;
}

#works article:nth-of-type(5) p {
    font-family: Athene;
    font-weight: lighter;
    font-size: 8rem;
    word-break: break-word;
    width: 28%;
    text-align: right;
    margin-top: 0;
}